@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot:wght@100;200;300;400&display=swap');


@font-face {
  font-family: 'Photograph Signature';
  font-style: normal;
  font-weight: 400;
  src: local('Photograph Signature'), url('/onlif/fonts/photograph-signature.woff') format('woff');
}

@font-face {
  font-family: 'Didot';
  font-style: normal;
  font-weight: 700;
  src: local('Didot'), url('/onlif/fonts/DidotLTStd-Bold.woff') format('woff');
}

@font-face {
  font-family: 'a Auto Signature';
  font-style: normal;
  font-weight: 700;
  src: local('a Auto Signature'), url('/onlif/fonts/aAutoSignature.woff') format('woff');
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
   url("/static/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Pretendard";
  src: local("Pretendard"),
   url("/static/fonts/PretendardVariable.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Pretendard";
  src: local("Pretendard"),
   url("/static/fonts/PretendardVariable.ttf") format("truetype");
  font-weight: normal;
}

@keyframes bounce {
  0%   { transform: scale(1,1)    translateY(0); }
  10%  { transform: scale(1.1,.9) translateY(0); }
  30%  { transform: scale(.9,1.1) translateY(-10px); }
  50%  { transform: scale(1,1)    translateY(0); }
  100% { transform: scale(1,1)    translateY(0); }
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

@keyframes fadeIn {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}

@keyframes fadeOut {
  0%    { opacity: 1; }
  100%  { opacity: 0; }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}